.par{
    display: flex;
    text-decoration: none;
}
.um{
    display: flex;
    text-decoration: none;
}
.par div{
    align-items: right;
    justify-content:right;
}

.um div{
    align-items: flex;
    justify-content:center;
    margin-right: 13.2em;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    text-decoration: none;
    
}
.h1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    text-decoration: none;
}